* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: transparent;
  height: 10vh;
  line-height: 10vh;
}

.nav-item {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}