* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-image: url("../images/uni-bg.jpg"); 
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

nav{
  background-color: #fff;
  text-align: center;
  height: 7vh;
}

#web-logo-home {
  height: 50px;
  width: 150px;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #fff;
  margin-top: 20px;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: #000;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #000;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #FF0000;
}

/*Landing Section CSS*/
.landingSection {
  color: #000;
  height: 95vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url("../images/jumbo-landing-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.landingSection #profile-pic {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 2px solid grey;
  margin-bottom: 14px;
}

.landingSection p {
  font-family: 'Raleway', sans-serif;
}

.landingSection .fab-landing {
  color: #FF0000;
}

/*End of Landing Section*/